.toolbar {
    background-image: linear-gradient(to right, #020267, #40E0D0);
    background-size: cover;
}

.drawer {
    //background-image: url("../../icons/header.jpg");
    //background-size: cover;
    //height: 100vh;


}.headerDrawer {
    background-image: linear-gradient(to right bottom, #40E0D0 , #020267 60% );
    //background-image: url("../../icons/header.jpg");
    background-size: cover;

}
.buttonText{
    font-size: 2rem
}